# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/
*.egg-info/

# IDEs & Editors
.vscode/
.idea/
*.swp

# OS Files
.DS_Store
Thumbs.db

# Spark
spark-warehouse/
metastore_db/
derby.log

# Project Output
data/output/
*.log

# Testing & Coverage
.pytest_cache/
.coverage
.ruff_cache/

# Temporary
tmp/
temp/